.first{
    height: 200px;
    background-color: green;
}
.both{
    height: 400px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.second,.third{
    display: inline-block;
}
.second{
    height: 400px;
    width : 60%;
    background-color: 	red;
}
.third{  
    height: 400px;
    width: 39%;
    margin-left: .7%;
    background-color:#FF1493 ;
}
.fourth{
    background-color :aqua;
    height: 200px;
}

